body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
}


.heading {
    color: lightseagreen;
}

.info {
    color: lightseagreen
}

form h2.q1, h2.q2 {
    color: lightseagreen;
}


