body {
    display: flex;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
}

.main{
    display: flex;
    flex-direction: row;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 10px;
}

